/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-primary: "Inter";
  --font-accent: "PressStart2P";
  --font-wght-bold: 715;
  --font-wght-light: 410;
  --font-wdth-content: 1.125em;
  --header-bg:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --card-bg-color: #fff;
  --main-color: #fff;
  --accent-color: #000;
  --backdrop-color: rgb(0 0 0 / 75%);
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --content-width: clamp(0px, 100%, 700px);
  --content-height: clamp(327px, calc(312.56px + 3.85vw), 368px);
  --font-size-h1: clamp(49px, calc(30.54px + 4.923cqw), 65px);
  --font-size-subheading: clamp(14px, calc(3.62px + 2.769cqw), 23px);
  --font-size-h2: 18px;
  --font-size-content: 18px;
  --font-size-button: 14px;
  --save-button-wdth: clamp(306px, calc(272.54px + 8.923cqw), 345px);

  --card-outline: 2px solid #000;
}
